

.usertitle{
  text-align: center;
  margin-top: 100px;
}

.userinput{
  padding: 10px 15px;
}

.userform{
margin: 200px;
display: flex;
justify-content: center;
align-items: center;
}



.userbutton{
  display:block;
  margin-left: 50px;
}

.form{
display: flex;
justify-content: center;
align-items: center;
border: 1px solid black;
padding-bottom: 50px;
margin-top: 75px;
background-color: black;
color: white;
}


.button{
  display: block;
  margin-top: 50px;
  padding: 10px 45px;
}






.animeinfo{
 font-size: 20px;

}
.anime-container{
  display: flex;
}
.animecard{
 border: 1px solid black;
 margin-bottom: 10px;
 width: 200px;
  
}

img{
  width: 50px;
}


